* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*regole di debug*/

.border {
    border: dashed 2px black;
}

.head {
    height: 80px;
}

header nav {
    background-color: green;
    width: 400px;
    height: 50px;
    margin: 10px;
}

.top_main {
    height: 700px;
}

.top_main h1 {
    width: 70vw;
    height: 250px;
    background-color: blueviolet;
}

.description {
    background-color: rgb(92, 43, 226);
    height: 400px;
}

.firstpage {
    display: inline-block;
    height: 500px;
    background-color: chocolate;
}

.choose_business {
    width: 60vw;
    height: 30px;
    margin: 60px auto 40px auto;
    background-color: rgb(247, 158, 43);
}

.bills {
    height: 20px;
    margin: 15px auto 15px 0;
    background-color: aqua;
}

.cards {
    height: 800px;
    background-color: cornflowerblue;
}

.type {
    height: 50px;
    width: 19vw;
}

.team {
    height: 300px;
    background-color: rgb(95, 95, 243);
}

.type_team {
    width: 60vw;
    height: 30px;
}

.contact {
    background-color: aqua;
    height: 500px;
}

.half_main {
    width: 39vw;
    height: 450px;
}

.paragraph_half {
    width: 18vw;
    height: 350px;
}

.tools {
    height: 350px;
}
/*fine regole debug*/

body {
    position: relative;
}

.head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(44, 27, 27);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
}

main {
    overflow-y: scroll;
}

.top_main {
    background-color: rgba(180, 208, 231, 255);
    width: 100vw;
    margin-top: 80px;
}

.jumbotron {
    width: 70vw;
    margin: auto;
}

.top_main h1 {
    width: 70vw;
    text-align: right;
}

.description {
    width: 28vw;
    float: left;
    text-align: left;
}

.firstpage {
    width: 40vw;
    float: right;
    clear: right;
}

.middle {
    width: 60vw;
    margin: 150px auto;
}

.choose_busines {
    text-align: right;
}

ul {
    list-style: none;
}

.columns {
    width: 60vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}

.cards {
    width: 19vw;
    display: flex;
    margin-top: 20px;
}

.team {
    width: 60vw;
    margin-top: 50px;
}

.type_team {
    text-align: center;
}

.contact {
    width: 60vw;
    margin-top: 150px;
}

.half_main {
    display: block;
    float: left;
}

.paragraph_half {
    display: inline-block;
    margin-left: 10px;
}

