* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*regole di debug*/

.border {
    border: dashed 2px black;
}


.cards {
    height: 800px;
    /*background-color: cornflowerblue;*/
}

.type {
    height: 50px;
    width: 19vw;
}

.team {
    height: 300px;
    background-color: rgb(95, 95, 243);
}

.type_team {
    width: 60vw;
    height: 30px;
}

.contact {
    background-color: aqua;
    height: 500px;
}

.half_main {
    width: 39vw;
    height: 450px;
}

.paragraph_half {
    width: 18vw;
    height: 350px;
}

.tools {
    height: 350px;
}

.space {
    width: 60vw;
    height: 200px;
    background-color: rgb(205, 163, 245);
}

.main_bottom {
    background-color: blueviolet;
}

.partner_left, .partner_right, .designit {
    height: calc(100vw / 3);
}

.free_trial {
    height: 200px;
}

.container_free {
    height: 80px;
}

.faq {
    background-color: rgb(65, 124, 7);
    height: 500px;
}

footer {
    height: 600px;
}

.links {
    height: 300px;
    background-color: antiquewhite;
}

.utility {
    height: 300px;
}

/*fine regole debug*/

body {
    position: relative;
    font-family: sans-serif;
}

.head {
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
}

.top_barleft, .top_barright {
    width: 30vw;
    margin: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topbar li {
    list-style: none;
}

.topbar li a {
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: 400;
}

.pulsanti {
    background-color: rgba(0, 97, 255, 255);
    border-style: none;
    color: white;
    padding: 8px;
}

main {
    overflow-y: scroll;
}

.top_main {
    background-color: rgba(180, 208, 231, 255);
    width: 100vw;
    height: 65vh;
}

.jumbotron {
    width: 60vw;
    margin: auto;
}

.top_main h1 {
    width: 60vw;
    text-align: left;
    font-size: 50px;
    height: 25vh;
    padding-top: 80px;
    padding-right: 200px;
}

.description {
    width: 20vw;
    float: left;
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    position: relative;
    height: 30vh;
}

.description span {
    display: block;
    text-align: left;
}

.description a {
    font-size: 40px;
    color: black;
    margin-top: 30px;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.des {
    margin-bottom: 20px;
}

.firstpage {
    width: 40vw;
    float: right;
    clear: right;
}

.middle {
    width: 60vw;
    margin: 150px auto;
}

.choose_busines {
    text-align: left;
    width: 55vw;
    height: 30px;
    margin: 60px auto 40px auto;
}

.bills {
    height: 20px;
    margin: 25px auto 15px 0;
}

.checklist li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    font-size: 12px;
}

.check_first {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: solid 3px rgba(0, 97, 255, 255);
    border-radius: 50%;
    margin-right: 5px
}

.check_second {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: solid 1px rgba(0, 0, 0, 0.397);
    border-radius: 50%;
    margin-right: 5px;
}

.columns {
    width: 60vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}

.cards {
    width: 19vw;
    display: flex;
    flex-direction: column;
    border: solid 1px rgba(0, 0, 0, 0.397);
}

.type {
    text-align: center;
    padding-top: 12px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.397);
    height: 50px;
    width: 19vw;
}

.price, .available, .hardrule, .got_it {
    padding: 20px 20px;
}

.price span {
    display: block;
    text-align: left;
    padding-top: 15px;
}

.prezzo {
    font-weight: bold;
}

.opaco {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.397);
}

.available span {
    display: block;
    text-align: left;
    padding-top: 15px;
    font-size: 12px;
    font-weight: 500;
}

.p_cards {
    width: 100%;
    margin-top: 40px;
}

hr.hardrule {
    border-top: solid 1px rgba(0, 0, 0, 0.397) ;
}

.got_it h5, ul {
    padding-top: 30px;
}

.piano li {
    list-style: none;
    padding-bottom: 15px;
    font-size: 12px;
    font-weight: 500;
}

.piano li i {
    color: rgb(50, 137, 252);
}

.team {
    width: 60vw;
    margin-top: 50px;
}

.type_team {
    text-align: center;
}

.contact {
    width: 60vw;
    margin-top: 150px;
}

.half_main {
    display: block;
    float: left;
}

.paragraph_half {
    display: inline-block;
    margin-left: 10px;
}

.space {
    text-align: right;
    margin-top: 150px;
}

.main_bottom {
    width: 100vw;
    margin-top: 150px;
    display: flex;
}

.partner_left, .partner_right, .designit {
    width: calc(100vw / 3);
    display: flex;
    flex-wrap: wrap;
}

.partner_photo {
    display: inline-block;
    width: calc(100vw / 6);
    height: calc(100vw / 6);
}

.free_trial {
    width: 100vw;
    background-color: rgba(180, 208, 231, 255) ;
    padding-top: 60px;
}

.container_free {
    width: 60vw;
    margin: auto;
    padding-top: 60px;
}

.faq {
    width: 60vw;
    margin: 100px auto;
}

footer {
    width: 100vw;
    background-color: black;
    padding-top: 80px;
}

.links {
    width: 70vw;
    margin: auto;
    display: flex;
}

.utility {
    width: calc(100% / 5);
}

